@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My View</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>We're going to have an exciting party!</h3>
        <h4>And you are invited</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
        <div style="color:#FFFFFF; background-color:#CA6989;padding: 24px">

            <h1>Hello @ViewBag.Fairy and @ViewBag.Cyborg</h1>
            @ViewBag.Greeting (from the view)
            <p>
                Using C# Create a website that creates a live and interactive RSVP interface.<br />
                
            </p>
            <br />
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>
</body>
